###########################################################
##
## el-CICD Basic Information
##
###########################################################

EL_CICD_NON_PROD_MASTER_NAMEPACE=el-cicd-non-prod-master
EL_CICD_NON_PROD_MASTER_NODE_SELECTORS=

EL_CICD_PROD_MASTER_NAMEPACE=el-cicd-prod-master
EL_CICD_PROD_MASTER_NODE_SELECTORS=

CLUSTER_WILDCARD_DOMAIN=apps-crc.testing

EL_CICD_META_INFO_NAME=el-cicd-meta-info

###########################################################
##
## Git repo information
##
###########################################################

GIT_CREDS_POSTFIX=git-repo-private-key

EL_CICD_GIT_REPO=git@github.com:elcicd/el-CICD.git
EL_CICD_BRANCH_NAME=development
EL_CICD_READ_ONLY_GITHUB_PRIVATE_KEY_ID=el-cicd-read-only-git-repo-private-key

EL_CICD_UTILS_GIT_REPO=git@github.com:elcicd/el-CICD-utils.git
EL_CICD_UTILS_BRANCH_NAME=development
EL_CICD_UTILS_READ_ONLY_GITHUB_PRIVATE_KEY_ID=el-cicd-utils-read-only-git-repo-private-key

EL_CICD_PROJECT_INFO_REPOSITORY=git@github.com:elcicd/el-CICD-project-repository.git
EL_CICD_PROJECT_INFO_REPOSITORY_BRANCH_NAME=development
EL_CICD_PROJECT_INFO_REPOSITORY_READ_ONLY_GITHUB_PRIVATE_KEY_ID=el-cicd-project-info-repository-git-repo-private-key

GIT_SITE_WIDE_ACCESS_TOKEN_ID=git-site-wide-access-token

###########################################################
##
## WARNING:
##  The following two values are the titles for for the public keys
##   used to download each el-CICD git repo in each pipeline.  If you
##   deploy to more than one production cluster, each production cluster
##   will need a uniquevalue for its PROD_KEY.  Change the key
##   for each production el-CICD instance created.
##
###########################################################

EL_CICD_DEPLOY_NON_PROD_KEY_TITLE=el-cicd-non-prod-deploy-key
EL_CICD_DEPLOY_PROD_KEY_TITLE=el-cicd-prod-deploy-key

###########################################################
##
## Supported environments:
## WARNING:
##     All environments should be capitalized to mach configuration variables in following section
##     There must be a dev and prod env defined
##     There must be at least one test environment defined
##         - colons are delimiters for multiple test environment; e.g. TEST_ENVS=QA:UAT:STG
##
###########################################################

CICD_NON_PROD=cicd-non-prod
CICD_PROD=cicd-prod

DEV_ENV=DEV

TEST_ENVS=QA:UAT:STG

PROD_ENV=PROD

###########################################################
##
## Image repository configuration per environment.
## NOTE: configuration for each environment must follow
## the same pattern for environment ENV:
##
## <ENV>_IMAGE_REPO_DOMAIN=<some repository domain>
## <ENV>_IMAGE_REPO_USERNAME=<some repository username or organization id>
## <ENV>_IMAGE_REPO=<some repository url *_IMAGE_REPO_DOMAIN/*_IMAGE_REPO_USERNAME>
## <ENV>_IMAGE_REPO_PULL_SECRET=<some pull secret name; secret is generated at startup with this name>
## <ENV>_IMAGE_REPO_ACCESS_TOKEN_ID=<some id that will be used as the Jenkins credentials id>
##
## Files where secrets are kept should be in a secure place, and paths are reference in
## el-cicd-secrets.config
##
###########################################################

DEV_IMAGE_REPO_DOMAIN=docker.io
DEV_IMAGE_REPO_USERNAME=elcicddev
DEV_IMAGE_REPO=docker.io/elcicddev
DEV_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-dev-pull-secret
DEV_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-dev-access-token
DEV_NODE_SELECTORS=

QA_IMAGE_REPO_DOMAIN=docker.io
QA_IMAGE_REPO_USERNAME=elcicdnonprod
QA_IMAGE_REPO=docker.io/elcicdnonprod
QA_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-non-prod-pull-secret
QA_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-non-prod-access-token
QA_NODE_SELECTORS=

UAT_IMAGE_REPO_DOMAIN=docker.io
UAT_IMAGE_REPO_USERNAME=elcicdnonprod
UAT_IMAGE_REPO=docker.io/elcicdnonprod
UAT_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-non-prod-pull-secret
UAT_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-non-prod-access-token
UAT_NODE_SELECTORS=

STG_IMAGE_REPO_DOMAIN=docker.io
STG_IMAGE_REPO_USERNAME=elcicdnonprod
STG_IMAGE_REPO=docker.io/elcicdnonprod
STG_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-non-prod-pull-secret
STG_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-non-prod-access-token
STG_NODE_SELECTORS=

PROD_IMAGE_REPO_DOMAIN=docker.io
PROD_IMAGE_REPO_USERNAME=elcicdprod
PROD_IMAGE_REPO=docker.io/elcicdprod
PROD_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-prod-pull-secret
PROD_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-prod-access-token
PROD_NODE_SELECTORS=

###########################################################
##
## Jenkins image settings
##
###########################################################

#JENKINS_MEMORY_LIMIT=2Gi
#JENKINS_VOLUME_CAPACITY=2Gi
#JENKINS_DISABLE_ADMINISTRATIVE_MONITORS=true
#
#JENKINS_AGENT_MEMORY_IDLE_MINUTES=1
#JENKINS_AGENT_MEMORY_LIMIT=2Gi
#JENKINS_AGENT_CPU_LIMIT=750m

JENKINS_CONTAINER_CORE_LIMIT=1
JENKINS_MEMORY_LIMIT=4Gi
JENKINS_VOLUME_CAPACITY=4Gi
JENKINS_DISABLE_ADMINISTRATIVE_MONITORS=true

JENKINS_AGENT_MEMORY_IDLE_MINUTES=30
JENKINS_AGENT_MEMORY_LIMIT=4Gi
JENKINS_AGENT_CPU_LIMIT=1

###########################################################
##
## Other settings
##
###########################################################

SONARQUBE_HOST_URL=
SONARQUBE_ACCESS_TOKEN_ID=sonarqube-access-token

###########################################################