###########################################################
##
## el-CICD Git deploy keys and access tokens
##
###########################################################

TEMPLATES_DIR=./resources/templates

GIT_PROVIDER=github

# Domain to call Git host provider RESTful API
EL_CICD_GIT_API_DOMAIN=api.github.com

# Organization/account where el-CICD repos are hosted
EL_CICD_ORGANIZATION=elcicd

SECRET_FILE_DIR=../cicd-secrets

EL_CICD_SSH_READ_ONLY_PUBLIC_DEPLOY_KEY_TITLE=el-cicd-read-only-public-key
EL_CICD_SSH_READ_ONLY_DEPLOY_KEY_FILE=${SECRET_FILE_DIR}/el-CICD-deploy-key

EL_CICD_UTILS_SSH_READ_ONLY_PUBLIC_DEPLOY_KEY_TITLE=el-cicd-utils-read-only-public-key
EL_CICD_UTILS_SSH_READ_ONLY_DEPLOY_KEY_FILE=${SECRET_FILE_DIR}/el-CICD-utils-deploy-key

EL_CICD_PROJECT_INFO_REPOSITORY_READ_ONLY_DEPLOY_KEY_TITLE=el-cicd-project-info-repository-read-only-public-key
EL_CICD_PROJECT_INFO_REPOSITORY_READ_ONLY_DEPLOY_KEY_FILE=${SECRET_FILE_DIR}/el-cicd-project-info-repository-github-deploy-key

EL_CICD_GIT_REPO_ACCESS_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-git-repo-access-token

# SONARQUBE_ACCESS_TOKEN_FILE=${SECRET_FILE_DIR}/sonarqube-access-token

###########################################################
##
## For each environment defined in el-cicd-bootstrap.config
## you will need to define a variable of the form
## <ENV>_PULL_TOKEN_FILE
##
###########################################################

DEV_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-dev-pull-token

QA_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-non-prod-pull-token

UAT_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-non-prod-pull-token

STG_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-non-prod-pull-token

PROD_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-prod-pull-token

###########################################################