<flow-definition plugin="workflow-job">
    <displayName>%PROJECT_ID%-%MICROSERVICE_NAME%-build-to-dev</displayName>
    <keepDependencies>false</keepDependencies>
    <properties>
        <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>GIT_BRANCH</name>
                    <description>Git branch to build</description>
                    <defaultValue>%GIT_BRANCH%</defaultValue>
                    <trim>true</trim>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>DEPLOY_TO_NAMESPACE</name>
                    <description>Namespace to deploy to (must be the dev environment or sandbox namespace)</description>
                    <defaultValue>%DEV_NAME_SPACE%</defaultValue>
                    <trim>true</trim>
                </hudson.model.StringParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>RECREATE</name>
                    <description>From OpenShift Build Environment Variable</description>
                    <defaultValue>false</defaultValue>
                </hudson.model.BooleanParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
        <script>
            properties([
                parameters(
                    [
                        string(name: 'GIT_BRANCH',  defaultValue: "${GIT_BRANCH}", description: 'Git repo branch name', trim: true),
                        string(name: 'DEPLOY_TO_NAMESPACE',  defaultValue: "${DEPLOY_TO_NAMESPACE}", description: 'The namespace to deploy to', trim: true),
                        booleanParam(name: 'RECREATE', defaultValue: false, description: "If true, build microservice, remove old build completely from dev, and then deploy new build")
                    ]
                )
            ])
  
            node() {
                def cicdMetaData = (readJSON(text: sh(returnStdout: true, script: "oc get cm ${EL_CICD_META_INFO_NAME} -o json")))
  
                def scmMap = [$class: 'GitSCMSource',
                              remote: cicdMetaData.data.EL_CICD_GIT_REPO,
                              credentialsId: cicdMetaData.data.EL_CICD_READ_ONLY_GITHUB_PRIVATE_KEY_ID]
                library identifier: "el-CICD@${cicdMetaData.data.EL_CICD_BRANCH_NAME}", retriever: modernSCM(scmMap)
  
                el.initMetaData(cicdMetaData.data)
            }
  
            def args = [agent: '%CODE_BASE%',
                        isBuild: true,
                        pipelineName: 'build-to-dev',
                        projectId: '%PROJECT_ID%',
                        microServiceName: '%MICROSERVICE_NAME%',
                        deployToNamespace: params.DEPLOY_TO_NAMESPACE,
                        gitBranch: params.GIT_BRANCH,
                        recreate: params.RECREATE]
            el.node(args) {
                buildToDev(args)
            }
        </script>
        <sandbox>true</sandbox>
    </definition>
    <triggers />
    <disabled>false</disabled>
</flow-definition>